.dashboard, .personal-moovies {
    background-color: #222222;
}

.homepage {
    padding-top: 70px;
    background-color: #222222;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3px;
    padding: 0 2rem;

}

.fav {
    color: white;
}

.fav h1 {
    font-weight: 400;
    font-size: 5rem;
    text-decoration: underline;
    text-decoration-color: red;
}