.header {
    width: 100%;
    height: 60px;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header h1 {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20px;
}

.header div {
    display: flex;
    align-items: center;
}

.header div img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    border: 2px solid red;
}

.header div p {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

.header div span {
    color: #BB000E;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 20px;
    margin-left: 20px;
}

.header div span button {
    background-color: transparent;
    color: #BB000E;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
}

.sidebar {
    width: 60px;
    height: 100%;
    background-color: #BB000E;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    padding-top: 70px;
}

.sidebar_link li {
    display: flex;
}

.sidebar_link li p {
    margin: 0;
    display: none;
}



.sidebar .sidebar_activities {
    display: none;
}

.sidebar:hover {
    width: 250px;
}

.sidebar:hover .sidebar_activities{
    display: block;
}

.sidebar:hover .sidebar_link li p {
    display: block;
}

.sidebar .sidebar_link {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .sidebar_link li {
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #BB000E;
    text-align: left;
    cursor: pointer;
}

.sidebar .sidebar_link li svg {
    margin-right: 10px;
}

.sidebar .sidebar_link li:hover {
    background-color: #E31C25;
}

.sidebar .sidebar_activities {
    color: white;
    background-color: #2C2C2C;
    padding: 10px 20px;
    list-style: none;
    text-align: left;
    margin: 10px;
}

.sidebar .sidebar_activities h1 {
    text-decoration: underline;
}